@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to right, rgb(5, 5, 233), rgb(0, 0, 124) );
}

main {
    background-color: white;
    border-radius: 10px ;
    width: 700px;
    margin: auto;
    box-shadow: 10px 10px 10px  rgb(29, 3, 90);
    padding: 10px;


}
h1 {
    color:yellow;
    text-shadow: 2px 2px 2px black;    
}

p {
    text-align: justify; /*deixa o texto alinhado*/
    
}


